<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>SuperSprinter!!!</title>
    <link rel="stylesheet" href="static/css/style.css">
</head>
<body>
<h1>User stories:</h1><br>
<a href="{{ url_for("add_story_form") }}">Add new story</a>
<table>
    <thead>
    <tr>
        <td><h3>{{ headers[1] }}</h3></td>
        <td><h3>{{ headers[4] }}</h3></td>
        <td><h3>{{ headers[5] }}</h3></td>
        <td><h3>{{ headers[6] }}</h3></td>
        <td><h3>Actions</h3></td>
    </tr>
    </thead>
    <tbody>
    {% for story in stories %} {# it is for loop and needs endfor #}
        <tr>
            <td><h4>{{ story[headers[1]] }}</h4></td>
            <td><h4>{{ story[headers[4]] }}</h4></td>
            <td><h4>{{ story[headers[5]] }}</h4></td>
            <td><h4>{{ story[headers[6]] }}</h4></td>
            <td>
                <a href="{{ url_for("get_story", story_id=story[headers[0]] ) }}">Show</a>
                <a href="{{ url_for("edit_story_form", story_id=story[headers[0]] ) }}">Edit</a>
            </td>
        </tr>
    {% endfor %}
    </tbody>
</table>
</body>
</html>